/*INICIO*/
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8f1818;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li::before {
    color: #8b0000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

footer {
    background-color: #410d0d;
    text-align: center;
    padding: 10px 0;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-height: 600px;
    width: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container1 img {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
    display: block;
}

.image-container1 h2 {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    text-align: left;
}

header {
    background-color: #000;
    text-align: right;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li a:hover {
    color: #ccc;
}


/*DISCOGRAFÍA*/

table.albums-table img {
    width: 580px;
    height: auto;
}

table.albums-table td {
    padding: 10px;
}

table.albums-table tr:last-child td {
    text-align: center;
}

#albums {
    padding: 20px;
    text-align: left;
}

table.albums-table img:hover {
    filter: brightness(40%);
}

td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*TOUR*/ 

#tour-container {
    display: flex;
}

#tour {
    width: 600px;
    height: auto;
}

#setlist {
    margin-left: 90px;
}

#setlist ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
    font-size: 16px;
    color: #b62121; 
    letter-spacing: 8px;
    text-shadow: 1px 1px 2px rgba(233, 214, 162, 0.822);
}
